@model IEnumerable<BeestjeOpEenFeestje.ViewModels.UpdateUserModel>

@{
    ViewData["Title"] = "Gebruikers";
}

<h1>Gebruikers</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Adres</th>
            <th>E-mail</th>
            <th>Telefoonnummer</th>
            <th>Klantenkaart</th>
            <th><a href="@Url.Action("CreateUser", "Account")" class="btn btn-primary">Nieuwe gebruiker</a><th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Address</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.CustomerCard</td>
                    <td><a href="@Url.Action("UpdateUser", "Account", new { email = user.Email })" class="btn btn-primary">bewerk</a><td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">Geen personen gevonden</td>
            </tr>
        }
    </tbody>
</table>
