@model IEnumerable<BeestjeOpEenFeestje.ViewModels.AnimalInfoModel>

@{
    ViewData["Title"] = "Beestjes";
}
<div class="d-flex align-items-center">
    <h1 class="me-5">Gebruikers</h1>
    <a href="@Url.Action("CreateAnimal", "Animal")" class="btn btn-primary">Nieuw Beestje</a>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Type</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var animal in Model)
            {
                <tr>
                    <td>@animal.Name</td>
                    <td>@animal.Type</td>
                    <td>@animal.Price</td>
                    <td><a href="@Url.Action("UpdateAnimal", "Animal", new { Id = animal.Id })" class="btn btn-primary">Bewerk</a><td>
                    <td><a href="@Url.Action("Reservations", "Animal", new { Id = animal.Id })" class="btn btn-primary">Boekingen</a><td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">Geen Beestjes gevonden</td>
            </tr>
        }
    </tbody>
</table>